html, body {
  margin: 0;
  padding: 0;
  background-color: #F0EFEF;
}

* { box-sizing: border-box; }

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sandwich { flex: 1; }

.header {
  color: white;
  background: maroon;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.footer {
  background: maroon;
  color: white;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.logo {
  width: 40%;
  border-radius: 10px;
  border: 4px solid white;
}

#carouselExample {
  width: 50%;
  margin: 50px auto;
}

/* FACTS */
.fact-left, .fact-right, .fact-bottomleft, .fact-bottomright,
.fact-topleft, .fact-topright {
  position: fixed;
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  opacity: 0;
  transition: 0.8s;
}

.fact-left { left:20px; top:50%; background:#E6D6FF; }
.fact-right { right:20px; top:50%; background:#F7C8E0; }
.fact-bottomleft { left:20px; top:70%; background:#CFE8FF; }
.fact-bottomright { right:20px; top:70%; background:#C8F7E4; }
.fact-topleft { left:20px; top:30%; background:#cfffd3; }
.fact-topright { right:20px; top:30%; background:#ffcfcf; }

.show { opacity: 1; }

/* MAP */
#map { width:100%; height:600px; }

/* CONTACT */
.contact-container {
  display:flex;
  gap:40px;
  justify-content:center;
  flex-wrap:wrap;
}

.contact-form, .contact-info {
  background:white;
  padding:20px;
  border-radius:15px;
}